/* IMPORT CSS */
/*@import url("vendor/font-awesome/css/font-awesome.min.css");
*/@import url("vendor/bootstrap/css/bootstrap.min.css");
@import url("vendor/animate.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,100italic,400italic,700,700italic,900italic,900");
/* @import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700"); */