@import "../css/mixin.scss";
@import "../css/variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    a{
        text-decoration: none !important;
    }
    p,ul{
        margin: 0 !important;
    }
    button{
        border: none;
        outline:none;
    }
// Border
.br-r{
    border-right: $br-1;
}
.br-t{
    border-top: $br-1;
}
.br-b{
    border-bottom: $br-1;
}
.br-l{
    border-left: $br-1;
}
// Border




.insert-screen{
    .banner{
        .desk-img{
            display: block;
            width: 100%;
        }
        .res-img{
            display: none;
            width: 100%;
        }
    }
    .insertion-content{
        @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-ce , $ju-co-ce);
        h1{
            @include HeadingCommons($weight:$ExtraBold , $clr:$black);
            font-size: $h2;
        }
        h3{
            font-weight: 300;
            margin-bottom: 10px;
            text-align: center;
        }
        .insert-btn{
            background-color: $theme-color-dark;
            color: $white;
            font-weight: $SemiBold;
            padding: 7px 51px;
            margin-top: 15px;
            text-transform: uppercase;
        }
        .insert-btn.bg-black{
            background-color: $black;
        }
        
        .thanks-you{
            font-size: $h1;
            padding: 6px 0;
        }
        .calender-region{
            display: flex;
            justify-content: center;
            align-items: center;
            #addeventatc1,#addeventatc2,#addeventatc3 {
                background: transparent !important;
                border: none !important;
                // box-shadow: 0 0 0 0 !important;
                // padding: 0;
                margin-right: 18px;
                img.atc_node {
                    width: 30px;
                }
                span.addeventatc_icon.atc_node.notranslate {
                    background: url(../img/calender.svg);
                    width: 50px;
                    height: 40px;
                    background-size: 49%;
                    background-repeat: no-repeat;
                }
                &:last-child{
                    margin-right: 0 !important;
                }
            }
        }
    }
    .insert-form{
        // margin-top: 25px;
        form{
            .form-group{
                position: relative;
                input{
                    width: 100%;
                    border-radius: 0;
                    height: 56px;
                    border: none;
                    border-bottom: 1px solid $theme-color-light;
                    &::placeholder{
                        font-size: 16px;
                        color: $theme-color-light;
                    }
                    &:focus{
                        outline: none;
                        // border-color: transparent !important;
                        box-shadow: 0 0 0 0 rgb(0 123 255 / 25%) !important;
                        
                    }
                   
                }
                
                button{
                    background-color: $sbt-bg;
                    color: $theme-color-dark;
                    padding: 7px 29px;
                    font-weight: $SemiBold;
                    margin-top: 15px;
                    border: 1px solid transparent;
                    transition: all .5s;
                    &:hover{
                        border: 1px solid $sbt-bg;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}


// #addeventatc1 {
//     background-color: #000 !important;
//     color: #fff !important;
//     font-weight: 600;
//     padding: 12px 51px;
//     margin-top: 15px;
//     text-transform: uppercase;
//     border-radius: 0;
// }