@media (max-width: 1530px) {
  .insert-screen .insertion-content .thanks-you {
    padding: 0 0;
    font-size: 31px;
  }
}
@media (max-width: 575px) {
  .insert-screen .banner .desk-img {
    display: none;
  }
  .insert-screen .banner .res-img {
    display: block;
  }
  .insert-screen .insertion-content h1 {
    font-size: 23px;
  }
  .insert-screen .insertion-content .thanks-you {
    font-size: 30px;
    padding: 0px 0;
  }
  .insert-screen .insertion-content .insert-btn {
    margin-top: 11px;
    padding: 7px 46px;
  }
  .insert-screen .insert-form {
    padding: 0 23px;
  }
  .insert-screen .insert-form form input {
    height: 46px !important;
  }
}

/*# sourceMappingURL=breakpoints.css.map */
