@import "../css/mixin.scss";
@import "../css/variables.scss";
// Screen Sizes
$breakpoints:(
    'xs': 320px,
    "sm": 480px,
    "lsm": 575px,
    "md": 768px,
    "lg": 993px,
    "xl": 1280px,
);
// Screen Sizes


// All Break Point Mixins
@mixin xs {
 @media (max-width: map-get($breakpoints, "xs")) {
     @content;
 }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin lsm {
    @media (max-width: map-get($breakpoints, "lsm")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
}
// All Break Point Mixins




// For Other Specific Screen Accept Above all 
@mixin breakpoint($bp:0) {
    @media (max-width: $bp) {
        @content;
    }
}
// For Other Specific Screen Accept Above all
@include breakpoint(1600px){
  

    
}


@include breakpoint(1530px){
    .insert-screen .insertion-content .thanks-you {
        padding: 0 0;
        font-size: 31px;
    }
}

@include breakpoint(1366px){
 
}


@include breakpoint(1200px){
   
   
}

@include breakpoint(1025px){
  
   
}

@include lg{

}

@include md{
   

}

@include lsm{
  
.insert-screen{
    .banner{
        .desk-img{
            display: none;
        }
        .res-img{
            display: block
        }
    }
    .insertion-content{
        h1{
            font-size: 23px;
        }
        .thanks-you{
            font-size: 30px;
            padding: 0px 0;
        }
        .insert-btn {
            margin-top: 11px;
            padding: 7px 46px;
        }
    }
    .insert-form{
        padding: 0 23px;
        form{
            input{
                height: 46px !important;
            }
        }
    }
}

}



@include sm{
   
 
}

@include xs{

   
    
}



