
// flex Mixin
@mixin FlexDirAligJus($flex: $d-flex, $dir: $fl-di-ro , $alig: $al-it-st, $just: $ju-co-st){
    display: $flex;
    flex-direction: $dir;
    align-items: $alig;
    justify-content: $just;
}
// flex Mixin


// Background Images
@mixin bg-img($img: '../img/bg/default.jpg' , $bgsize:cover , $bgrepeat:no-repeat , $bgpos:center) {
   background-image: url($img);
   background-repeat: $bgrepeat;
   background-size: $bgsize;
}
// Background Images



// Mixins
@mixin ComonFontsStyle {
   font-size: 1rem;
   color: $theme-color-dark
}
@mixin CommonPara($fn-s:$p, $clr: $theme-color-dark , $lin-ht: 25px) {
   font-size: $fn-s;
   color: $clr;
   line-height: $lin-ht;
}

@mixin HeadingCommons($weight:$Bold , $clr:$theme-color-dark){
   font-weight: $weight;
   color: $clr;
}
@mixin BeforeCoomon{
   content: '';
   position: absolute;
}
@mixin FullArea {
   width: 100%;
   height: 100%;
}

// Flex Mixin Variable



// Common Btn Css
@mixin theme-btn($w:0px , $h:0px , $clr:$theme-color-dark){
   .cooming-soon-btn{
       @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-ce);
       width: $w;
       border: 1.95px solid $clr;
       color: $clr;
       font-weight: 500;
       margin-top: 13px;
       overflow: hidden;
       height: $h;
       transition: all 0.5s;
       span{
           @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-ce);
           height: $h;
           background: transparent;
           img{
               margin-right: 7px;
           }
           i{
               margin-right: 7px;
           }
       }
       .btn-hover-down{
           position: relative;
           bottom: -20px;
           transition: all 0.5s;
           display: flex;
           flex-direction: column;
       }
       &:hover{
           background-color: $theme-color-dark;
           color: $white;
           .btn-hover-down{
               bottom: 20px; 
               span{
                   img{
                       filter: brightness(0) invert(1);
                   }
               }
           }
       }
   }
}
// Common Btn Css


// Play Icon
@mixin play-icon($top:55% , $left:55%){
    .play-icon-box {
        position: absolute;
        top: $top;
        left: $left;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
        border-radius: 100%;
        width: 85px;
        height: 85px;
        @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-ce);
        overflow: hidden;
        img{
            width: auto;
        }
        &::before{
            content: "";
            background-image: url(../img/playicon.svg);
            position: absolute;
            top: 115%;
            width: 100%;
            left: 14%;
            height: 100%;
        }
        &:hover{
            img{
                transform: translateY(-100%);
                transition: all 0.5s;
            }
            &::before{
                transform: translateY(-100%);
                transition: all 0.5s;
            }
        }
    }
}
// Play Icon
