/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

p, ul {
  margin: 0 !important;
}

button {
  border: none;
  outline: none;
}

.br-r {
  border-right: 1px solid #5d2468;
}

.br-t {
  border-top: 1px solid #5d2468;
}

.br-b {
  border-bottom: 1px solid #5d2468;
}

.br-l {
  border-left: 1px solid #5d2468;
}

.insert-screen .banner .desk-img {
  display: block;
  width: 100%;
}
.insert-screen .banner .res-img {
  display: none;
  width: 100%;
}
.insert-screen .insertion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.insert-screen .insertion-content h1 {
  font-weight: 800;
  color: #000;
  font-size: 32px;
}
.insert-screen .insertion-content .insert-btn {
  background-color: #5d2468;
  color: #fff;
  font-weight: 600;
  padding: 7px 51px;
  margin-top: 15px;
  text-transform: uppercase;
}
.insert-screen .insertion-content .insert-btn.bg-black {
  background-color: #000;
}
.insert-screen .insertion-content .thanks-you {
  font-size: 40px;
  padding: 20px 0;
}
.insert-screen .insert-form form .form-group {
  position: relative;
}
.insert-screen .insert-form form .form-group input {
  width: 100%;
  border-radius: 0;
  height: 56px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.insert-screen .insert-form form .form-group input::placeholder {
  font-size: 16px;
  color: #ccc;
}
.insert-screen .insert-form form .form-group input:focus {
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25) !important;
}
.insert-screen .insert-form form .form-group button {
  background-color: #d7c597;
  color: #5d2468;
  padding: 7px 29px;
  font-weight: 600;
  margin-top: 15px;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.insert-screen .insert-form form .form-group button:hover {
  border: 1px solid #d7c597;
  background-color: transparent;
}

.eventable-link {
  background-color: #000;
  color: #fff !important;
  font-weight: 600;
  padding: 12px 51px;
  margin-top: 15px;
  text-transform: uppercase;
}

#addeventatc1 {
  background-color: #000 !important;
  color: #fff !important;
  font-weight: 600;
  padding: 12px 51px;
  margin-top: 15px;
  text-transform: uppercase;
  border-radius: 0;
}

/*# sourceMappingURL=style.css.map */
