
// Color theme
$theme-color-dark:#5d2468;
$theme-color-light:#ccc;
$white: #fff;
$black:#000;
$sbt-bg: #d7c597;
// Color theme

// Padding
$p2: 2%;
$p3: 3%;
$p4: 4%;
$p5: 5%;
$p6: 6%;
$p7: 7%;
$p8: 8%;
$p9: 9%;
$p10: 10%;
// Padding


// Fon Weight
 $ExtraBold: 800;
 $Bold: 700;
 $SemiBold:600;
 $Medium:500;
// Fon Weight



//FontSize Bootstrap Standard
$h1 : 40px;  //40px
$h2 : 32px;  //32px
$h3 : 28px;  //28px
$h4 : 24px;  //24px
$h5 : 20px;  //20px
$h6 : 16px;  //16px
$p : 16px;
//FontSize Bootstrap Standard


//Flex Properties
$d-flex:flex;
$ju-co-st: start;
$ju-co-ce: center;
$ju-co-en: end;
$ju-co-be:space-between;
$al-it-st: flex-start;
$al-it-ce: center;
$al-it-en: flex-end;
$fl-di-co: column;
$fl-di-co-re: column-reverse;
$fl-di-ro: row;
$fl-di-ro-re: row-reverse;
//Flex Properties


// Border
$br-1 : 1px solid $theme-color-dark;
// Border



